@import 'reset.scss';
@import 'variables.scss';
@import 'preloader.scss';
@import 'spinner.scss';

#app {
  background: rgba(#ccc, .35);
  font-family: "Montserrat", sans-serif;
  .title {
    font-size: 32px;
    line-height: 40px;
    color:dimgray;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1228px;
    background-color: #fff;
  }
  .main {
    padding: 80px 0;
    height: 100vh;
  }
  .form {
    border-radius: 15px;
    margin: 20px auto 0;
    padding: 40px;
    max-width: 600px;
    background-color:antiquewhite;
    &__inner {
      display: flex;
      justify-content: space-between;
    }
    &__inner:not(:first-child) {
      margin-top: 10px;
    }
    &__label {
      font-size: 18px;
      line-height: 24px;
      width: 100%;
    }
    &__input {
      margin-top: 5px;
      padding: 5px;
      width: 100%; 
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
    }

    &__input,
    &__input::placeholder {
      font-size: 14px;
      line-height: 18px;
    }
    &__btn {
      border: 1px solid #fff;
      margin-top: 15px;
      padding: 5px 15px;
      font-size: 18px;
      line-height: 24px;
      display: block;
      border-radius: 10px;
      background-color:burlywood;
      transition: all .3s;
    }
    &__btn:hover {
      cursor: pointer;
      opacity: 0.7;
    }
    &__btn:disabled:hover {
      cursor: not-allowed;
    }
  }
}